@import './colors.module.scss';

$item-height: 200px;
$item-width: 18rem;

.outerContainer {
    border-top: 2px solid rgb(177, 173, 173, 0);
    border-bottom: 2px solid rgb(177, 173, 173, 0);
    display: flex;
    min-width: $item-width;
    position: relative;
    transition: border-color 0.5s linear;

    &:hover {
        border-top: 2px solid $secondary-color-light;
        border-bottom: 2px solid $secondary-color-light;

        .scrollContainer {
            opacity: 1;
        }
    }
}


.scrollContainer {
    align-self: center;
    flex: 0 0 auto;
    height: 1px;
    position: relative;
    opacity: 0;
    transition: opacity 0.75s linear;
    width: 50px;

    &.rightScrollContainer {
        margin-left: 10px;
    }

    &.leftScrollContainer {
        margin-right: 10px;
        transform: rotate(180deg);
    }
}

.viewport {
    cursor: grab;
    overflow: hidden;
    padding: 1.25rem 2rem;
    position: relative;
}

.fadedEdgeLeft {
    background: linear-gradient(to right, $primary-color 0%, transparent 80%);
    height: 100%;
    left: 40px;
    pointer-events: none;
    position: absolute;
    transition: opacity 1s;
    width: 75px;
    z-index: 999;
}

.fadedEdgeRight {
    background: linear-gradient(to left, $primary-color 0%, transparent 100%);
    height: 100%;
    right: 40px;
    pointer-events: none;
    position: absolute;
    transition: opacity 1s;
    width: 75px;
    z-index: 999;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}
  
.arrow {
    animation: arrow 2500ms linear infinite;
    height: 10px;
    position: absolute;
    top: 25px;
    width: 90%;
}
  
.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 8px;
    right: -4px;
    background-color: $secondary-color;
}
  
.arrow::after {
    top: -12px;
    transform: rotate(50deg);
}
  
.arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-50deg);
}

.arrow2 {
    animation: arrow2 2500ms linear infinite;
    position: absolute;
    top: 25px;
    width: 65%;
    height: 10px;
}
  
.arrow2::after, .arrow2::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    right: -4px;
    background-color: $secondary-color;
}
  
.arrow2::after {
    top: -8px;
    transform: rotate(50deg);
}
  
.arrow2::before {
    top: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-50deg);
}

@keyframes arrow {
    0% {transform: translate(0, 0);}
    50% {transform: translate(-8px, 0);}
    100% {transform: translate(0, 0);}
}

@keyframes arrow2 {
    0% {transform: translate(0, 0);}
    10% {transform: translate(0, 0);}
    60% {transform: translate(-6px, 0);}
    75% {transform: translate(-6px, 0);}
    100% {transform: translate(0, 0);}
}