@import './colors.module.scss';

$item-height: 200px;
// $item-width: 200px;
$item-width: 18rem;
.item {
    border: 1px solid black;
    height: $item-height;
    width: $item-width;
}

.outerContainer {
    border-top: 2px solid rgb(177, 173, 173, 0);
    border-bottom: 2px solid rgb(177, 173, 173, 0);
    display: flex;
    min-width: $item-width;
    position: relative;
    transition: border-color 0.5s linear;

    &:hover {
        border-top: 2px solid $secondary-color-light;
        border-bottom: 2px solid $secondary-color-light;

        .scrollContainer {
            opacity: 1;
        }
    }
}


.scrollContainer {
    align-self: center;
    flex: 0 0 auto;
    height: 1px;
    position: relative;
    opacity: 0;
    transition: opacity 0.75s linear;
    width: 50px;

    &.rightScrollContainer {
        margin-left: 10px;
    }

    &.leftScrollContainer {
        margin-right: 10px;
        transform: rotate(180deg);
    }

}



// .transparentEdgeViewportOverlay {
//     border: 100px solid;
//     border-image: linear-gradient(90deg, red, transparent) 1;
    
//     // border-width: 100px;
//     // border-top:none; border-bottom:none;
//     // border-style:solid;
//     // border-image:linear-gradient(red, transparent) 1;
//     // height: 100%;
//     right: 0;
//     position: absolute;
//     top: 0;
//     height: 100%;
//     width: 100%;
// }

.viewport {
    // border-style:solid;
    // border-image:linear-gradient(90deg, red, transparent) 1;
    // border-bottom:0;
    // border-top:0;
    // background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 0, 0, 1), rgba(0, 0, 0, 0));
    box-sizing: border-box;
    cursor: grab;
    flex: 1 1;
    min-width: $item-width;
    overflow: hidden;
    padding: 20px 15px;
    position: relative;

    // &:before, &:after {
    //     content: " ";
    //     position: absolute;
    //     z-index: 9999999999;
    // }

    // &:before,
    // &:after {
    //   content: "";
    //   position: absolute;
    // //   display: block;
    // //   left: -10px;
    //   height: 50%;
    // }

    // &:before {
    //     content: " ";
    //     left: 0;
    //     height: 100%;
    //     width: 200px;
    //     background: linear-gradient(to right, #333 0%, transparent 100%);
    // }

    // &:after {
    //     top: 0;
    //     right: 0;
    //     width: 200px;
    //     background: linear-gradient(270deg, red, transparent);
    // }

    // scroll-snap-type: x proximity;
    // width: 100%;

    // animation: arrow 700ms linear infinite;
}

.gridContainer {
    
    // div:before {
    //     box-shadow: -15px 0 15px -15px inset;
    //     left: -15px;
    //   }
    //   div:after {
    //     box-shadow: 15px 0 15px -15px inset;
    //     right: -15px;
    //   }
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    // animation: arrow 700ms linear infinite;
}
  
.arrow {
    animation: arrow 2500ms linear infinite;
    height: 10px;
    position: absolute;
    top: 25px;
    width: 90%;

    // transition: transform 2s infinite;
    // animation: 
    // background-color: $secondary-color;
    // box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    
}
  
.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 8px;
    right: -4px;
    background-color: $secondary-color;
}
  
.arrow::after {
    top: -12px;
    transform: rotate(50deg);
}
  
.arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-50deg);
}

.arrow2 {
    animation: arrow2 2500ms linear infinite;
    position: absolute;
    top: 25px;
    width: 65%;
    height: 10px;
}
  
.arrow2::after, .arrow2::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    right: -4px;
    background-color: $secondary-color;
}
  
.arrow2::after {
    top: -8px;
    transform: rotate(50deg);
}
  
.arrow2::before {
    top: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-50deg);
}

// @keyframes arrow {
//     0% {translate:(-50%, -50%);}
//     50% {translate:(-100%, -50%);}
//     100% {translate:(-50%, -50%);}
// }

@keyframes arrow {
    0% {transform: translate(0, 0);}
    50% {transform: translate(-8px, 0);}
    100% {transform: translate(0, 0);}
}

@keyframes arrow2 {
    0% {transform: translate(0, 0);}
    10% {transform: translate(0, 0);}
    60% {transform: translate(-6px, 0);}
    75% {transform: translate(-6px, 0);}
    // 58% {transform: translate(-8px, 0);}
    100% {transform: translate(0, 0);}
}

// @keyframes fadeOut {
//     0% {opacity:1;}
//     100% {opacity:0;}
// }