@import './colors.module.scss';

$item-height: 200px;
$item-width: 18rem;

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}
  
.arrow {
    animation: arrow 2500ms linear infinite;
    height: 10px;
    position: absolute;
    top: 25px;
    width: 90%;
}
  
.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 8px;
    right: -4px;
    background-color: $secondary-color;
}
  
.arrow::after {
    top: -12px;
    transform: rotate(50deg);
}
  
.arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-50deg);
}

.arrow2 {
    animation: arrow2 2500ms linear infinite;
    position: absolute;
    top: 25px;
    width: 65%;
    height: 10px;
}
  
.arrow2::after, .arrow2::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    right: -4px;
    background-color: $secondary-color;
}
  
.arrow2::after {
    top: -8px;
    transform: rotate(50deg);
}
  
.arrow2::before {
    top: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-50deg);
}

@keyframes arrow {
    0% {transform: translate(0, 0);}
    50% {transform: translate(-8px, 0);}
    100% {transform: translate(0, 0);}
}

@keyframes arrow2 {
    0% {transform: translate(0, 0);}
    10% {transform: translate(0, 0);}
    60% {transform: translate(-6px, 0);}
    75% {transform: translate(-6px, 0);}
    100% {transform: translate(0, 0);}
}