
$tonal-offset: 10;
$contrast-threshold: 3;

$primary-color: #b6c4f4;
$primary-color: #43a047;
$primary-color: #81d4fa;
$primary-color-light: lighten($primary-color, $tonal-offset);
$primary-color-dark: darken($primary-color, $tonal-offset);
// $primary-color-dark: darken($primary-color, 10%);
$primary-text: #000000;

$secondary-color: #f3d885;
$secondary-color: #fdd835;
$secondary-color: #f9bf2d;
$secondary-color-light: lighten($secondary-color, $tonal-offset);
$secondary-color-dark: darken($secondary-color, $tonal-offset);
$secondary-text: rgba(0, 0, 0, 0.7);


$background-color: #fafafa;
// $background-color: rgb(253, 245, 204);
// $background-color: lighten($primary-color-light, 10%);