@import './colors.module.scss';

.drinking {
    // background: url('/solomon.jpg') no-repeat center center fixed;
    // box-shadow: 0 0 8px 8px white inset;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

.sectionTitle {
    flex: 0 1 100%;
    transition: color 0.5s linear;
}

.sectionContainer {
    background-color: $primary-color !important;
    color: $secondary-text;
    margin: 0 0 2em 0;
    padding: 25px;

    &:hover .sectionTitle {
        color: $primary-text;
    }
}

.sectionContent {
    flex: 0 1 90%;
    margin-top: 10px;
    width: 93vw;
}
