@import './colors.module.scss';

.container {
    background-color: $background-color;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: center;
}

.contentContainer {
    background-color: $background-color;
    // height: 100%;

    width: 100%;
}

.footer {
    // background-color: $primary-color !important;
    // margin-bottom: 5px;
    // display: flex;
    // justify-content: center;
    // margin-bottom: 2.5em;
    width: 100%;
}

.footerPaper {
    background-color: $primary-color !important;
    display: flex;
    // font-size: 32px;
    height: 3em;
    justify-content: center;
    align-items: center;
    // margin-bottom: 5px;
    width: 99.5%;

    a {
        color: white;
        text-decoration: underline;

        &:visited {
            color: $secondary-text;
        }
    }
}

.pageTitle {
    // background-color: $primary-color;
    // color: $primary-text;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0 0 0;
    // justify-content: center;
    position: relative;
    width: 100%;
}

.pageTitleContainer {
    display: flex;
    transition: width 1s;
}

.pageTitleActionText {
    // animation: fadeIn ease 0.5s;
    display: inline-block;
    white-space: nowrap;
    min-width: 100px; //TODO: make responsive
}

.nav {
    // background-color: $primary-color;
    // color: $primary-text;
    // background-color: $primary-color-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin-top: 25px;
    padding: 1em 0 25px 0;

    // padding-bottom: 10px;
    width: 100%;
}

.pageTitlePrefixContainer {
    display: flex;
    // flex: 0 1 52%;
    justify-content: flex-end;
}
.pageTitleSuffixContainer {
    display: flex;
    // flex: 0 1 30%;
    justify-content: flex-start;
    padding-left: 0.5em;
}

.navItem {
    cursor: pointer;
    display: flex;
    height: 100px;
    transform: scale(1.0);
    justify-content: center;
    transition: transform 1.00s linear;
    // animation-fill-mode: forwards;
    white-space: nowrap;
    width: 200px; //TODO: responsive

    &:hover:not(.selectedItem) {
        animation: pop 0.75s ease-in-out both;
    }
}

.navItemListening {
    height: 75px;
    margin-top: 10px;
}


.pageTitleActionTextContainer {
    display: inline-block;
}

.selectedItem {
    &.selectedItem__out {
        transform: scale(1.0);
    }

    &.selectedItem__in {
        transform: scale(1.5);
    }
}

.previousSelectedItem {
    &.previousSelectedItem_start {
        display: flex;
    }
}

.layoutContentContainer {
    box-sizing: border-box;
}

.main {
    background-color: $background-color;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
}

.body {
    background-color: $background-color;
}

.footerSpaceHolder {
    // display: block;
    // display: block;
    // clear: both;
    height: 2.5em;
    width: 100%;
}

@keyframes pop {
    0% {
                transform: scale(1);
    }
    50% {
                transform: scale(1.1);
    }
    100% {
                transform: scale(1);
    }
}