.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pageTitle {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    width: 100%;
    position: relative;
}

.pageTitleActionText {
    animation: fadeIn ease 0.5s;
    display: inline-block;
    white-space: nowrap;
    min-width: 100px; //TODO: make responsive
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.pageTitlePrefixContainer {
    display: flex;
    flex: 0 1 52%;
    justify-content: flex-end;
}
.pageTitleSuffixContainer {
    display: flex;
    flex: 0 1 30%;
    justify-content: flex-start;
    padding-left: 0.5em;
}

.navItem {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 200px; //TODO: responsive
}

.pageTitleActionTextContainer {
    display: inline-block;
}

.previousPageTitleActionText {
    animation: fadeOut ease 0.5s;
}

.selectedItem {
    animation: fadeOut ease 1s;
}

.previousSelectedItem {
    animation: fadeIn ease 2s, widen ease 4s;

    &.previousSelectedItem_start {
        display: flex;
    }
}

.layoutContentContainer {
    animation: fadeIn ease 2s;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes widen {
    0% {max-width: 0;}
    100% {max-width: 50vw} 
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}