@import './colors.module.scss';

.title {
    color: $secondary-text;
    overflow: hidden;
    transition: color 0.5s linear;
    text-overflow: ellipsis;
    white-space: nowrap;
};

$item-height: 15rem;
$item-width: 14rem;

// $expanded-item-height: 60vh;
$expanded-item-width: min(80vw, 45em);
// $item-width: 18vw;
$item-padding: 0.5em;

$item-columns: 12;
$item-rows: 10;
$item-rows-expanded: 16;

$expand-animation-duration: .25s;

.itemContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.itemImage {
    height: 8em;
    position: relative;
    width: 100%;
}

.item {
    height: $item-height;
    max-height: $item-height;
    width: $item-width;
    padding: $item-padding;

    // TODO: Only placed under .item to give this class precedence over default MUI class.
    .itemTitle {
        display: inline-block;
        // font-size: max(1.75em, 14px);
        // font-size: 1.5em;
        max-width: 12em;
        // max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: font-size $expand-animation-duration;
        white-space: nowrap;
    }

    // TODO: Only placed under .item to give this class precedence over default MUI class.
    .source {
        color: $secondary-text;
        display: inline-block;
        max-width: 11em;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: font-size $expand-animation-duration, color $expand-animation-duration * 3;
        white-space: nowrap;
    }

    &:hover {
        .title {
            color: $primary-text;
        }

        transform: scale(1.05);
        transition: transform 0.1s linear;
    }

    &.item__placeholder {
        visibility: hidden;
    }

    &.item__expanded {
        height: unset;
        left: 50%;
        max-height: unset;
        padding: 1.5em 2em 1em 2em;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $expanded-item-width;
        z-index: 1001;
    }
}

.itemDescription {
    display: none;
    opacity: 0;
    transition: max-height $expand-animation-duration, opacity $expand-animation-duration;
}

.actionSection {
    display: none;
    justify-content: center;
    margin-bottom: 1em;
    opacity: 0;
    transition: max-height $expand-animation-duration, opacity $expand-animation-duration;
}

.description {
    font-size: max(1em, 16px) !important;
    font-weight: 400 !important;
    // padding: 5px 20px;
    padding: 0 1.25em;
}

.itemTitleLabel {
    display: none;
    max-width: 0;
    opacity: 0;
}

.sourceContainer {
    display: flex;
    // grid-column: 1 / span $item-columns;
}

.sourceLabel {
    display: none;
    // font-size: 22px;
    max-width: 0;
    opacity: 0;
}

.item.item__expanded {
    .itemImage {
        height: 25em;
    }

    .itemTitleContainer {
        display: flex;
        height: 2.25em;
        margin-top: .5em;
    }

    .itemTitle {
        font-size: 1.5rem;
        max-width: 30em;
        padding-left: .6rem;
    }

    .itemTitleLabel {
        align-items:flex-end;
        display: flex;
        max-width: 200px;
        opacity: 1;
    }

    .source {
        color: rgb(0,0,0,0.87);
        font-size: 1.5em;
        max-width: 30em;
        padding-left: .75em;
    }

    .sourceLabel {
        align-items: flex-end;
        display: flex;
        max-width: 200px;
        opacity: 1;
    }

    .sourceContainer {
        display: flex;
        // align-items: center;
        // justify-content: center;
        height: 2.25em;
    }

    .itemDescription {
        display: block;
        margin-top: .1em;
        opacity: 1;
    }

    .actionSection {
        display: flex;
        opacity: 1;
    }
}

.actionButtonContainer {
    width: 100%;
}

.expandIcon {
    color: black;
}