@import './colors.module.scss';

.title {
    color: $secondary-text;
    overflow: hidden;
    transition: color 0.5s linear;
    text-overflow: ellipsis;
    white-space: nowrap;
};

$item-height: 21em;
$item-width: 19em;

$expanded-item-height: 50em;
$expanded-item-width: 52em;
// $item-width: 18vw;
$item-padding: 0.5em;

$item-columns: 12;
$item-rows: 10;
$item-rows-expanded: 16;

$expand-animation-duration: .25s;

// TODO - do something cleaner for this. I don't even know what "+ 5" technically does.
.itemContainer {
    height: $item-height;
    width: $item-width;
}

.item {
    height: $item-height;
    max-height: $item-height;
    width: $item-width;
    padding: $item-padding;

    // TODO: Only placed under .item to give this class precedence over default MUI class.
    .itemTitle {
        display: inline-block;
        font-size: max(1em, 14px);
        max-width: 14em;
        // max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: font-size $expand-animation-duration;
        white-space: nowrap;
    }

    // TODO: Only placed under .item to give this class precedence over default MUI class.
    .source {
        color: $secondary-text;
        display: flex;
        font-size: max(1em, 16px);
        transition: font-size $expand-animation-duration, color $expand-animation-duration * 3;
    }

    &:hover {
        .title {
            color: $primary-text;
        }

        transform: scale(1.05);
        transition: transform 0.1s linear;
    }

    &.item__placeholder {
        visibility: hidden;
    }

    &.item__expanded {
        height: unset;
        left: 50%;
        max-height: unset;
        padding: 1.5em 2em 1em 2em;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $expanded-item-width;
        z-index: 1001;
    }
}

.itemContent {
    display: grid;
    height: 100%;
    width: 100%;
}

.itemDescription {
    display: none;
    margin-bottom: 1em;
    opacity: 0;
    transition: max-height $expand-animation-duration, opacity $expand-animation-duration;
}

.description {
    font-size: max(1em, 16px) !important;
    font-weight: 400 !important;
    // padding: 5px 20px;
    padding: .25em 1.25em;
}

.itemImage {
    height: 12em;
    width: 100%;
    position: relative;
}


.itemTitleContainer {
    display: flex;
}


.itemTitleLabel {
    display: none;
    max-width: 0;
    opacity: 0;
}


.sourceContainer {
    display: flex;
    // grid-column: 1 / span $item-columns;
}

.sourceLabel {
    display: none;
    // font-size: 22px;
    max-width: 0;
    opacity: 0;
}


.item.item__expanded {
    animation: pulsate-fwd 0.75s ease-in-out both;
    .itemTitle {
        font-size: 1.75em;
        max-width: 30em;
        // padding-left: 20px;
        padding-left: .75em;
 
    }

    .itemTitleLabel {
        align-items: center;
        display: flex;
        max-width: 200px;
        opacity: 1;
    }

    .source {
        color: rgb(0,0,0,0.87);
        font-size: 1.75em;
        padding-left: .75em;

    }

    .sourceLabel {
        align-items: center;
        display: flex;
        max-width: 200px;
        opacity: 1;
    }

    .itemDescription {
        display: block;
        margin-top: .5em;
        opacity: 1;
    }


    .actionButtonLabel {
        font-size: 2em;
    }

    .itemImage {
        height: 25em;
    }

    .itemTitleContainer {
        height: 3em;
        margin-top: .5em;
    }
    
    .sourceContainer {
        height: 3em;
    }
}

.media {
    height: 0;
    padding-top: 56.25%; // 16:9
}

.buttonRow {
    align-items: center;
    display: flex;
    
}

.actionButtonContainer {
    display: flex;
    width: 100%;
}

.actionButton {
    background-color: $secondary-color !important;
    color: $background-color !important;
    transition: height $expand-animation-duration;
}

.actionButtonLabel {
    font-size: 1.3em;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;//darken($secondary-color, 7%);
}

.expandIcon {
    color: black;
}