@import './colors.module.scss';

.drinking {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
}

.sectionTitle {
    border-radius: 4px;
    padding: 5px 12px;
    transition: color 0.5s linear;
}

.requiresLoginPaperContainer {
    align-items: center;
    display: flex;
    height: 28em;
    justify-content: center;
    margin-bottom: 3em;
    width: 98vw;
}

.requiresLoginPaper {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 16em;
    justify-content: center;
    margin-top: 50px;
    width: 40em;
}

.sectionContainer {
    margin: 0 0 2em 0;
    padding: 25px;

    &:hover .sectionTitle {
        color: $primary-text;
    }
}

.sectionContent {
    flex: 0 1 90%;
    margin-top: 10px;
    width: 93vw;
}

.spotifyLoginButton {
    width: 23rem;
}

.actionIcon {
    font-size: 4rem;
}