@import './colors.module.scss';


.spotifyPlayer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    height: 6em;

    .controlsContainer {
        // display: flex;
        // flex: conten
    }


    .playerIcon {
        font-size: 4rem;
        &:hover {
            color: $primary-text;
        }
    }
}

.previousButton {
    font-size: 2em;
    grid-area: 1 / 4 / span 3 / span 1;
}

.pausePlayButton {
    grid-area: 1 / 5 / span 3 / span 1;
}

.nextButton {
    grid-area: 1 / 6 / span 3 / span 1;
}

.currentlyPlayingText {
    color: lawngreen !important;



}

.currentlyPlayingContainer {
    align-items: center;

border-radius: 5px;
background-color: black;
border: 2px solid slategrey;
// padding: 5px;
width: 20em;



    // color: $primary-text;
    display: grid;
    font-size: 2em;
    grid-area: 6 / 1 / span 3 / span 9;
    justify-items: center;
    // padding-top: 10px;


    position: relative;
    overflow: hidden;

}

.scrollContainer {
    white-space: nowrap;
    animation: animate 10s linear infinite;
    animation-delay: 10s;
    width: 100%;
}

@keyframes animate
{

    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}