@import './colors.module.scss';

$collapsed-height: 2.5em;

.spotifyPlayer {
    // border-top: 1px solid rgba(0, 0, 0, 0.75);
    // display: grid;
    // grid-template-columns: repeat(9, 1fr);
    // grid-template-rows: repeat(8, 1fr);
    display: flex;
    // height: 6em;
    // flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
    width: 50em;
    // padding: 1em 0 0 0;

    .controlsContainer {
        // display: flex;
        // flex: conten
    }


    .playerIcon {
        font-size: 4rem;
        // color: white;

        &:hover {
            // color: rgb(59, 202, 59);
            
            // color: $primary-text;
        }
    }
}

.spotifyPlayerPanel {
    background-color: $primary-color !important;
    // background-color: #d1d5d5 !important;

    // border: 1px solid rgba(32, 82, 107, 0.5);
    border: 1px solid darken($primary-color, 30%);
    bottom: 0;
    padding: 0 0 .75em 0;
    position: fixed;
    // padding: 4em 0 1em 0;
    transform: translateY(calc(100% - $collapsed-height));
    transition: all 0.5s ease-in-out !important;

    .handle {
        display: flex;
        flex: 0 0 100%;
        height: $collapsed-height;
        width: 100%;
    }
    .openIcon {
        // color: white;
        font-size: 3rem;
        transform: rotate(180deg);
        transition: transform 0.5s;
    }
    
    .openButton {
        padding: 0;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    &.spotifyPlayerPanel__shown {
        transform: translateY(0);
    
        .openIcon {
            transform: rotate(0deg);
        }
    }
}

.previousButton {
    margin-right: 1em;
    padding: 5px;
    // grid-area: 1 / 4 / span 3 / span 1;
}

.pausePlayButton {
    padding: 5px;
    // grid-area: 1 / 5 / span 3 / span 1;
}

.nextButton {
    padding: 5px;
    margin-left: 1em;
    // grid-area: 1 / 6 / span 3 / span 1;
}

.currentlyPlayingText {
    // color: rgb(230, 120, 215) !important;
    // color: mediumseagreen !important;
    color: lawngreen !important;
    // color: $secondary-color !important;
}

.playbackButtons {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    // margin: 0 0 0.25em 0;
}

.currentlyPlayingContainer {
    align-items: center;
    border-radius: 5px;
    background-color: black;
    border: 2px solid slategrey;
    display: flex;
    font-size: 2em;
    flex: 0 0 80%;
    height: 1.5em;
    padding: .2em;
    // width: 20em;

    // color: $primary-text;
    // display: flex;
    // grid-area: 6 / 1 / span 3 / span 9;
    // justify-items: center;
    // padding-top: 10px;


    position: relative;
    overflow: hidden;
}

.playback {
    flex: 0 0 100%;
    padding: 0 7em;
}

.scrollContainer {
    animation: animate 10s linear infinite;
    animation-delay: 2s;
    white-space: nowrap;
    width: 100%;
}

@keyframes animate
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
